#home {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

#home div, #home img{
    font-family: Helvetica, Arial, sans-serif;
    padding: 20px 0px 0px 0px;
}

#home div {
    font-size: 30px;
}

#home img {
    width: 171px;
    height: 261px;
}

#finish {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

#finish div, #finish img{
    font-size: 30px;
    font-family: Helvetica, Arial, sans-serif;
    padding: 15px 0px 0px 0px;
}

#finishbutton {
    display: flex;
    flex-flow: row;
}

#eachcount {
    display: flex;
    flex-flow: row;
}

#eachcount div {
    font-size: 20px;
}

#eachcount img {
    height: 30px;
    width: auto;
}

#bestscore {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}
#bestscore div {
    font-size: 15px;
    padding: 0px 5px;
}
#scoretable {
    display: flex;
    flex-flow: row;
}
#first::before {
    content: "\1F947";
}
#second::before {
    content: "\1F948";
}
#third::before {
    content: "\1F949";
}

#gamearea {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

#appear {
    width: 90%;
    height: 80%;
    background-color: #ffa66e;
    border-radius: 30px;
}

#disappear {
    margin-top: -20px;
    z-index: 30;
}

#disappear img {
    width: auto;
    height: 180px;
}

#start {
    font-size: 50px;
    position: absolute;
    top: 40%;
    right: 43%;
    z-index: 200;
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
}

#infoarea {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 50;

    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: flex-end;
}

#letter {
    display: flex;
    flex-flow: column;
    margin-right: -40px;
    align-items: flex-end;
}
#timecount {
    display: flex;
    flex-flow: row;
    font-size: 25px;
    font-family: Helvetica, Arial, sans-serif;
    margin-bottom: 20px;
    margin-right: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2px 4px 2px 4px;
}
#score {
    font-size: 25px;
    font-family: Helvetica, Arial, sans-serif;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0px 4px 0px 4px;
}

#vidal {
    width: 180px;
    height: 230px;
    background-image: url('../src/resource/vidal1.png');
    background-size: cover;
}

.grape {
    width: 80px;
    height: 100px;
    z-index: 100;
    cursor: grab;
    background-size: cover;
    position: absolute;
}

.blackgrape {
    background-image: url('./resource/grape_black.png');
}

.redgrape {
    background-image: url('./resource/grape_red.png');
}

.greengrape {
    background-image: url('./resource/grape_green.png');
}

.whitegrape {
    background-image: url('./resource/grape_white.png');
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 10px;
    background-color: #4CAF50; /* ボタンの背景色 */
    color: white; /* テキストの色 */
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 8px; /* 角丸 */
    border: none;
    cursor: pointer;
    font-family: Helvetica, Arial, sans-serif;
}

.button:hover {
    background-color: #45a049; /* マウスホバー時の背景色 */
}



* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body .gamebody {
    overflow: hidden;
}
